<system.webServer>
        <rewrite>
                <outboundRules>
                        <rule name="Rewrite GZ header" preCondition="IsGZ" stopProcessing="true">
                                <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
                                <action type="Rewrite" value="gzip" />
                        </rule>
                        <preConditions>
                                <preCondition name="IsGZ">
                                        <add input="{PATH_INFO}" pattern="\.gz$" />
                                </preCondition>
                        </preConditions>
                </outboundRules>
        </rewrite>
        <staticContent>
                <mimeMap fileExtension=".js.gz" mimeType="text/javascript" />
                <mimeMap fileExtension=".wasm.gz" mimeType="application/wasm" />
        </staticContent>
</system.webServer>